.feinman__title {
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0;
  }
