.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  max-width: 1600px;
  background-color: #F2F2F2;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
  width: 183px;
  height: 32px;
}

.header__title {
  align-self: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  z-index: 2;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: #2F80ED;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  margin: 100px 0;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2F80ED;
  font-weight: normal;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}

.two-columns__paragraph:first-child {
  margin-top: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__paragraph:nth-child(even) {
  margin: 30px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  margin-top: 0;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  display: flex;
  width: 250px;
  flex-direction: column;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.table__text {
  margin-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  margin-bottom: 0;
}

.table__text_bank {
  margin-top: 20px;
}

.feinman {
  display: flex;
  flex-direction: column;
  background-image: url(../images/feinman.png);
  background-color: #F2F2F2;
  width: 1600px;
  background-repeat: no-repeat;
  background-position: bottom left;
  align-items: center;
  height: 790px;
  position: relative;
  padding-top: 100px;
}

.feinman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-top: 0;
}

.feinman__subtitle {
  line-height: 51px;
  font-size: 36px;
  margin-top: 70px;
}

.feinman__link {
  line-height: 51px;
  font-size: 36px;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: black;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1F1F1F;
  width: 1600px;
  overflow: hidden;
  position: relative;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
  margin-bottom: 0;
}

.table_theme_dark {
  z-index: 1;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__image_triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  min-height: 350px;
  background-color: #1F1F1F;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  position: relative;
}

.footer__column {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__column-links_text {
  line-height: 30px;
  font-size: 18px;
  list-style-type: none;
}

.footer__column-links {
  margin: 20px 0 16px;
  padding-left: 0;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__social-icon {
  margin-right: 10px;
}
